.App{
  text-align: center;
  margin-top: 5em;
}
.Header{
  font-size: 1.5em;
  font-weight: 700;
}
.renderF{
  border: 3px solid black;
  border-radius: 0.3em;
  width: max-content;
  padding: 2em 3em;
  margin-left: 42.5%;
  margin-top: 2em;
}